::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(12, 12, 12, 0.934);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 255, 255); 
  }
.nav_image {
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.nav_image:hover {
    cursor: pointer;
}

.navbar_buttons {
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: -80px;
}

.nav_button {
    border: none;
    background: none;
    color: rgb(74, 74, 74);
    margin-left: 30px;
    font-size: 17px;
}
.nav_button:hover {
    cursor: pointer;
    color: rgba(12, 12, 12, 0.934);
}

.main {
    font-family: 'Roboto', sans-serif;
    margin-top: 140px;
    margin-bottom: 225px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.main_title {
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 30px;
}

.main_description {
    margin-top: 50px;
    color: rgb(57, 57, 57);
    line-height: 25px;
    font-size: 20px;
}

.main_subtitle {
    font-weight: bold;
    color: rgb(53, 53, 53);
    font-size: 30px;
    margin-top: 100px;
}

.facebook {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: rgb(165, 255, 255);
    border-radius: 5px;
}
.twitter {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: rgb(165, 255, 255);
    border-radius: 5px;
}

.box_title {
    margin-top: -35px;
    color: rgb(57, 57, 57);
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.main_logo {
    margin-right: 150px;
}

.facebook:hover, .twitter:hover {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(218, 218, 218);
}

.selector {
    visibility: hidden;    
    display: flex;
    margin-left: auto;
    margin-right: 25px;
    margin-top: -30px;
    background-color: white;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 5px;
    
}

.selector:hover {
    cursor: pointer;
}

.click_buttons {
    visibility: hidden;
    margin-top: 30px;
    display: grid;
    font-family: 'Roboto', sans-serif;
}

.click_button {
    background: none;
    border: none;
    font-size: 18px;
    color: rgb(74, 74, 74);
}

.click_button:hover {
    cursor: pointer;
    color: rgba(12, 12, 12, 0.934);
}

.footer_image {
    margin-top: 10px;
    width: 150px;
    height: 35px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color:rgb(165, 255, 255);
    height: 90px;
}

.footer_logo {
    margin-top: 20px;
    width: 225px;
    height: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;    
}

.contact_title {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.contact_input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid #eee;
    background-color: rgb(165, 255, 255);
    height: 30px;
}

.contact {
    margin-top: -100px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#name {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#surname {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 10px;
}

#email {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#phone {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 10px;
}

#text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: rgb(165, 255, 255);
}

#contact_button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30px;
    margin-left: 125px;
    border-radius: 10px;
    background: none;
    background-color: rgb(165, 255, 255);
    border: 1px solid #eee;
}

#contact_button:hover {
    cursor: pointer;
    background-color: rgba(165, 255, 255, 0.558);
}

.footer_button {
    margin-top: 30px;
    background: none;
    height: 25px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.footer_button:hover {
    cursor: pointer;
}

.price_title {
    font-family: 'Roboto', sans-serif;
}

.time_title {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 900px) {
    .nav_button {
        visibility: hidden;
    }

    .selector {
        visibility: visible;
    }
}

@media only screen and (max-width: 700px) {
    .nav_image {
        width: 200px;
    }   

    .selector {
        margin-top: -15px;
    }
}

@media only screen and (max-width: 320px) {
    .nav_image {
        width: 150px;
    }

    .footer_price {
        font-size: 14px;
        margin-right: -50px;
    }

    .footer_time {
        font-size: 14px;   
    }

    .footer_button {
        font-size: 14px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 901px) {
    .click_button {
        visibility: hidden;
    }
}
@media only screen and (max-width: 573px) {
    .selector {
        margin-top: -35px;       
    }
}

@media only screen and (max-width: 500px) {
    .contact {
        display: grid;
    }

    .footer {
        visibility: hidden;
    }

    #name, #surname, #email, #address, #phone, #contact_button{
        margin-left: 0;
    }

    #text {
        margin-left: 0px;
        min-width: 100%;
    }

    #contact_button {
        margin-left: 0;
        min-width: 100%;
    }

    #surname, #phone {
        margin-bottom: 20px;
    }
}

@media only screen and (max-height: 1066px) {
    .footer {
        visibility: hidden;
    }
}

/* PRICE.HTML */

.images_1, .images_2, .images_3, .images_4, .images_5, .images_6 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.images_6 {
    margin-bottom: 150px;
}

.image_1 {
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 550px;
    height: 550px;
    margin: 40px;
}

.image_2 {
    margin: 40px;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    width: 500px;
    height: 550px;
}

.window_image {
    width: 200px;
    height: 350px;
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.window_extra {
    width: 425px;
    height: 375px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.window_title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.plus-1 {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    background: url('../assets/plus.png');
    margin-left: 175px;
    border-radius: 40px;
}

.plus-2 {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border: none;
    background: url('../assets/plus.png');
    margin-left: 150px;
    border-radius: 40px;
}

.plus-1:hover, .plus-2:hover, .minus:hover {
    cursor: pointer;
}

.minus {
    background: url('../assets/minus.png');    
    border-radius: 40px;
    width: 50px;
    height: 50px;
    border: none;
    margin-left: 100px;
}

.value {
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -40px;
}

.price {
    display: flex;
    margin-left: 100px;
}

.price_footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color:rgb(165, 255, 255);
    height: 90px;
    display: flex;
    justify-content: center;
}

.footer_price {
    margin-left: 50px;
}

.footer_time {
    margin-left: 200px;
}

.footer_button {
    margin-left: 200px;
}

@media only screen and (max-width: 1250px) {
    .images_1, .images_2, .images_3, .images_4, .images_5, .images_6 {
        display: grid;
    }

    .image_1, .image_2 {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .plus-1, .plus-2 {
        margin-left: 200px;
    }

    .footer_price {
        margin-left: 15px;
    }

    .footer_time {
        margin-left: 150px;
    }
    .footer_button {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 620px) {
    .image_1, .image_2 {
        width: 450px;
    }

    .plus-1, .plus-2 {
        margin-left: 125px;
    }

    .footer_price {
        margin-left: 10px;
    }

    .footer_time {
        margin-left: 100px;
    }
    .footer_button {
        margin-left: 75px;
    }
}

@media only screen and (max-width: 520px) {
    .image_1, .image_2 {
        width: 400px;
    }

    .plus-1, .plus-2 {
        margin-left: 100px;
    }

    .window_extra {
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .image_1, .image_2 {
        width: 300px;
    }
    .plus-1, .plus-2 {
        margin-left: 50px;
    }
}